.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3em;
    font-size: 1.3em;
    padding: 0 20%;
    position: absolute;
    left: 0; right: 0;

    color: $color-blue-dark;
    background-color: rgba($color: whitesmoke, $alpha: 0.7);

    
    a {
        color: $color-blue-dark;
    }
}

.site-title-logo-group {
    display: flex;
    align-items: center;

}

.site-logo {
    height: 2.5em;
    width: auto;
}

.site-title {
    margin-left: 0.5em;
    font-size: 2em;
}

.site-nav {
    ul {
        display: flex;
    }

    li:first-of-type {
        margin-right: 1em;
    }
    margin-right: 6em;
}

// footer
.site-footer {
    height: 2em;
    background-color: $color-blue-dark;

    display: flex;
    align-items: center;

    p {
        text-align: right;
        display: block;
        width: 100%;
        margin-right: 3em;
        color: whitesmoke;
    }
}