.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // height: 2.7em;
    font-size: 0.9em;
    padding: 0 20%;

    color: $color-blue-dark;
    background-color: rgba($color: whitesmoke, $alpha: 0.7);

    
    a {
        color: $color-blue-dark;
    }
}

.site-title-logo-group {
    display: flex;
    align-items: center;

}

.site-logo {
    height: 2.4em;
    width: auto;
    display: flex;
    align-items: center;
}

.site-title {
    margin-left: 0.5em;
    font-size: 1.9em;
}

.site-nav {
    ul {
        display: flex;
    }

    li:first-of-type {
        margin-right: 1em;
    }
    margin-right: 6em;
}

// footer
.site-footer {
    padding: 0.3em 1.5em;
    background-color: $color-blue-dark;

    display: flex;
    align-items: center;

    p {
        font-size: 0.7em;
        text-align: right;
        display: block;
        width: 100%;
        color: whitesmoke;
    }
}