.current-page-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .site-content {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.hero-search {
    width: 100%;
    display: flex;
    justify-content: center;

    .main-title-description {
        width: 100%;
        margin-bottom: 1em;
        text-align: left;
        color: black;
        .main-title {
            font-size: 1.6em;
        }

        .main-desc {
            font-size: 1em;
        }
    }
}

.hero-search-contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 3em;
}


.main-search-group {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    position: relative;

    .main-search {
        height: 100%;
        width: 78%;
        font-size: 1.3em;
        padding: 0 0.5em;

        background-color: white;
        outline: none;
        border: none;
        border-radius: 0.2em;

        &::placeholder {
            padding-left: 0.5em;
        }
    }

    .main-search-button {
        width: 20%;
        height: 100%;
        font-size: 1.2em;
        letter-spacing: 0.07em;

        background-color: $color-blue-dark;
        
        border: none;
        border-radius: 0.2em;

        a {
            color: white;
        }
       
    }
}

.main-suggestion-box {
    background-color: white;
    position: absolute;
    left: 0; top: 101%;
    width: 78%;
    display: none;

    border-radius: 0.3em;


    p{
        transition: background-color 0.1s ease, color 0.1s ease;


        padding: 0.5em 0.8em;
        font-size: 1.1em;

        &:hover {
            background-color: $main-color-blue;
            color: white;
        }
    }
}


