html {
    font: 13px/1.5 'PT Sans', sans-serif;
}

body, form, table, input, textarea, option, select, button {
    font: inherit;
}

li {
    display: block;
}

a {
    color: black;
    text-decoration: none;
}


